body {
    margin: 0px;
    padding: 0px;
}

.css__modal-liberar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content-Liberar {
    position: relative;
    background-color: white;
    margin: 13% auto;
    padding: 20px;
    width: 65%;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    top: -10%;
}

.h1__titulo-modal {
    background-color: #ff7f27;
    color: white;
    text-align: left;
    padding: 20px;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    position: relative;
    top: -40px;
    left: -20px;
}

#modalLiberar .btnAtualizar {
    position: relative;
    top: -37px;
    font-size: 20px;
    margin-bottom: -3%;
    padding: 0px;
}

    #modalLiberar .btnAtualizar:hover {
        background-color: #caddf2;
        font-size: 20px;
        cursor: pointer;
    }


.span__close {
    color: white;
    float: right;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    top: -85px;
}

    .span__close:hover {
        font-size: 25px;
        color: black;
    }

/* Estilizando a tabela */
.table {
    position: relative;
    top: -57px;
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    /* Cabeçalho da tabela */
    .table th {
        text-align: left;
        padding: 12px;
        font-size: 16px;
    }

    /* Linhas da tabela */
    .table td {
        padding: 6px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
    }

    /* Alternância de cor nas linhas */
    .table tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    /* Efeito ao passar o mouse */
    .table tr:hover {
        background-color: #e9ecef;
        transition: 0.3s;
    }

/* Estilizando os botões */

#modalLiberar .css_abir-dados-modal {
    border-radius: 5px;
    padding: 8px 7px;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

    #modalLiberar .css_abir-dados-modal:hover {
        background-color: #b4b2b2;
    }


#modalLiberar .rolagem {
    overflow-y: auto;
    max-height: 450px;
    padding-top: 48px;
}