body {
    margin: 0px;
    padding: 0px;
}


.css__modal-Recusados {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: -0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content-Recusados {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#modalRecusados .h1__titulo-modal {
    background-color: #ff7f27;
    color: white; 
    text-align: left;
    padding: 20px;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px 6px 0 0;
    position: relative;
    top: -40px;
    left: -20px;
 
}

#modalRecusados .span__close {
    color: white;
    float: right;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    top: -85px;
}

    #modalRecusados .span__close:hover {
        font-size: 25px;
        color: #918a8a;
    }


/*Personalização da tabela*/
/*Conteiner onde define a barra de rolagem*/
.grid-container-recusados {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: -35px;
}

/*estilizando tabela em geral*/
.grid-table-recusados {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    /*estilizando o cabeçalho*/
    .grid-table-recusados th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        padding: 8px;
        text-align: left;
        padding: 12px;
        font-size: 17px;
        border-bottom: 2px solid #ccc;
    }

    /*linha da tabela*/
    .grid-table-recusados td {
        padding: 6px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
    }

    /* Alternância de cor nas linhas */
    .grid-table-recusados tr:nth-child(even) {
        background-color: #f8f9fa;
    }

    /* Efeito ao passar o mouse */
    .grid-table-recusados tr:hover {
        background-color: #e9ecef;
        transition: 0.3s;
    }


#modalRecusados .btnAtualizar {
    position: relative;
    top: -37px;
    font-size: 20px;
    margin-bottom: -3%;
    padding: 0px;
}

    #modalRecusados .btnAtualizar:hover {
        background-color: #caddf2;
        font-size: 20px;
        cursor: pointer;
    }